<div id="live-monitor" class="col-sm-6">
    <div class="monitor-inner">
        <div class="row">
            <span class="info-label">From</span>
            <span>{{pingInfo.displayFrom}}</span>
        </div>
        <div class="row">
            <span class="info-label">To</span>
            <span>{{pingInfo.displayTo}}</span>
        </div>
        <div class="row">
            <span class="info-label">Status</span>
            <span>{{getStatus()}}</span>
        </div>
        <div class="row">
            <span class="info-label">Latency</span>
            <span>{{getRtt()}}ms</span>
        </div>
    </div>
</div>
