<div id="live-monitor" class="col-sm-6">
    <div class="monitor-inner" ng-if="finishedLoadingConfig">
        <div class="row">
            <span class="info-label">From</span>
            <span>{{pingInfo.displayFrom}}</span>
        </div>
        <div class="row">
            <span class="info-label">To</span>
            <span>{{pingInfo.displayTo}}</span>
        </div>
        <div class="row">
            <span class="info-label">Monitor Status</span>
            <span>{{monitorStatus}}</span>
        </div>
        <div class="row">
            <span class="info-label">Ping Status</span>
            <span>{{latestPing.status | pingStatus}}</span>
        </div>
        <div class="row">
            <span class="info-label">Latency</span>
            <span>{{latestPing.rtt}}ms</span>
        </div>
    </div>

    <div class="monitor-inner loading" ng-if="!finishedLoadingConfig">
        <div class="row">
            <span class="glyphicon glyphicon-refresh"></span>
        </div>
    </div>
</div>
