<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    
    <!-- Base URI for Firebase REST requests -->
    <add key="FirebaseUri" value="https://sla-monitor-dev.firebaseio.com/" />

    <!-- This value should be set in a transformation file like App.Release.Config. 
         The transformation files are excluded from the repository so that we can open-source 
         without exposing our firebase account secret. -->
    <add key="FirebaseSecret" value="" />
    
  </appSettings>
</configuration>
