<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    
    <!-- Begin the SLA Monitoring immediately when the application starts -->
    <add key="StartMonitorImmediately" value="false" />

    <!-- The default host that we will be monitoring if StartMonitorImmediately is set to true -->
    <add key="DefaultHost" value="8.8.8.8" />

    <!-- How often to ping the host -->
    <add key="DefaultPollingInterval" value="100" />

    <!-- How long to wait for a ping to return -->
    <add key="DefaultTimeout" value="3500" />
    
  </appSettings>
</configuration>
