<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    
    <!-- Begin the SLA Monitoring immediately when the application starts -->
    <add key="StartMonitorImmediately" value="false" />

    <!-- The default host that we will be monitoring if StartMonitorImmediately is set to true -->
    <add key="DefaultHost" value="8.8.8.8" />

    <!-- How often to ping the host -->
    <add key="DefaultPollingInterval" value="500" />

    <!-- How long to wait for a ping to return -->
    <add key="DefaultTimeout" value="3500" />

    <!-- Base URI for Firebase REST requests -->
    <add key="FirebaseUri" value="https://sla-monitor-dev.firebaseio.com/" />

    <!-- This value should be set in a transformation file like App.Release.Config. 
         The transformation files are excluded from the repository so that we can open-source without exposing secrets. -->
    <add key="FirebaseSecret" value="" />
    
  </appSettings>
</configuration>
